<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% autoescape true %}
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<title>データ編集</title>
<style type="text/css">
<!--
.main_container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.top_text {
    width: 100%;
    text-align: center;
    font-size: 105%;
    font-weight: bold;
}

.data_edit form {
    display: inline;
}
.data_edit table {
    width: 100%;
    margin-top: 10px;
}
.data_edit th {
    font-size: 90%;
    white-space: nowrap;
}

-->
</style>
</head>

<body>
<div class="main_container">
<div class="top_text">データ編集</div>

<div class="data_edit">
<form action="{{ update_url }}" method="post">
<table><tr>
<th align="left" colspan="2">タイトル : {{ article.title }}
<input type="hidden" name="title" value="{{ article.title }}">
<input type="hidden" name="db" value="{{ databook_name }}"></th>
<!-- <th align="left" width="95%"><input type="text" name="title" value="{{ article.title }}" style="width: 50%;"></th> -->
</tr><tr>
<th align="left">作者 :</th>
<th align="left" width="95%"><input type="text" name="author" value="{{ article.author }}" style="width: 50%;"></th>
</tr><tr>
<th align="left">内容 :</th>
<th align="left" width="95%"><input type="text" name="content" value="{{ article.content }}" style="width: 100%;"></th>
</tr><tr>
<th align="left" valign="top">ソース :</th>
<th align="left" width="95%"><textarea name="source" cols="40" rows="20" style="width: 100%;">{{ article.source }}</textarea></th>
</tr><tr>
<th align="left" colspan="2">日時 : {{ article.date.strftime('%Y-%m-%d %H:%M:%S %Z') }}</th>
</tr><tr>
<th align="left" colspan="2"><input type="checkbox" name="datechg" value="1" checked>日時を更新する</th>
</tr></table>
<input type="button" value="セーブ" onclick="submit();">
</form>
<form action="{{ runpage_url }}" method="post" target="run_prog">
<input type="hidden" name="title" value="{{ article.title }}">
<input type="hidden" name="db" value="{{ databook_name }}">
<input type="button" value="起動" onclick="submit();" style="margin-left: 10px;">
<input type="button" value="戻る" onclick="if (confirm('編集を終了します。よろしいですか？')) { location.href='{{ mainpage_url }}?db={{ databook_name }}'; }" style="margin-left: 10px;">
</form>
{% if admin_login %}
<form action="{{ update_url }}" method="post">
<input type="hidden" name="title" value="{{ article.title }}">
<input type="hidden" name="db" value="{{ databook_name }}">
<input type="hidden" name="delete" value="1">
<input type="button" value="削除" onclick="if (confirm('データを削除します（履歴も含めて削除されます）。よろしいですか？')) { submit(); }" style="margin-left: 10px;">
</form>
{% endif %}

<form action="{{ editpage_url }}" method="post">
<table><tr>
{% if message_data %}
<th align="left"><div style="margin-bottom: 8px;">{{ message_data }}</div></th>
</tr><tr>
{% endif %}
{% if article.bkup_dates %}
<th align="left">履歴 : <select name="bkup_sel">
    {% for bkup_date in article.bkup_dates %}
<option value="{{ loop.index }}">{{ bkup_date.strftime('%Y-%m-%d %H:%M:%S %Z') }}</option>
    {% endfor %}
</select>
<input type="hidden" name="title" value="{{ article.title }}">
<input type="hidden" name="db" value="{{ databook_name }}">
<input type="button" value="ロード" onclick="if (confirm('バックアップデータをロードします。よろしいですか？')) { submit(); }"><th>
</tr><tr>
<th align="left">（※）履歴（バックアップデータ）は、最新の10件までを保存しています。</th>
</tr><tr>
<th align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ただし10分以内の変更は1件に統合されます。また上にあるものほど新しくなっています。</th>
</tr><tr>
<th align="left">（※）セーブせずに起動をクリックすると、過去にセーブした時点のデータで起動しますのでご注意ください。</th>
{% else %}
</tr><tr>
<th align="left"><div style="margin-bottom: 8px;">（新規データです）</div></th>
</tr><tr>
<th align="left">（※）セーブせずに起動をクリックすると、空データで起動しますのでご注意ください。</th>
{% endif %}
</tr></table>
</form>
</div>

</div>
</body>
</html>
{% endautoescape %}
